body {
	font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
	overflow: hidden;
	display: none;
	margin-top: 240px;
}

.dialog {
	width: 300px;
	position: absolute;
	margin-left: 1460px;
	margin-right: auto;
	background-color: rgba(13,22,35,1.0);
	left: 0;
	right: 0;
	padding: 10px;
	box-shadow: 0px 0px 50px 0px rgba(55, 184, 88, 1.0);
	overflow: hidden;
	opacity: 0.9;
}

input[type=text] {
	width: 100%;
	padding: 7px;
	text-align: center;
}

button {
		background-color: rgb(55, 184, 88); 
		font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
		border: outset;
		color: rgb(255, 255, 255);
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 32px;
		margin: 20px 2px;
		cursor: pointer;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
	}
	button:hover {
		box-shadow: 0 12px 16px 0 rgba(55,184,88,.75),0 17px 50px 0 rgba(0,0,0,0.19);
	}
}

h1 {
	display: block;
	border-radius: 8px;
	margin-top: 5px;
	margin-right: 5px;
	padding: 10px;
	background-color: #f700ff;
	color: rgb(0, 255, 13);
	width: 93%;
	text-align: center;
}

h2 {
	color: white;
	font-size: 25px;
}